.board {
	margin: 12px auto;
	background-color: black;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	border: 1px solid black;
	position: relative;
}

.bee {
	position: absolute;
	transition: * 0.1s linear;
}

.bee.watching {
	border: 2px dashed white;
	border-radius: 50% !important;
}

.bee_info {
	padding: 12px;
}

.bee_view {
	border: 1px solid black;
	margin: 12px auto;
	width: 32px;
	height: 32px;
	border-radius: 50%;
}

.mark {
	width: 24px;
	height: 24px;
	border: 2px dotted white;
	position: absolute;
	background: black;
	border-radius: 50%;
}

.target {
	width: 24px;
	height: 24px;
	position: absolute;
	background-image: url('../img/crosshairs.png');
}

.utoma_watcher object {
	max-width: 100%;
}
