body {
	margin: 24px 48px;
}

* {
	font-family: sans-serif;
	color: #333;
}

hgroup {
	text-align: center;
}

a {
	text-decoration: none;
	font-style: italic;
	color: #44a;
}

dt{
	margin-top: 24px;
	font-weight: bold;
}

dd {
}

img {
	display: block;
	margin: 12px auto;
}

figure {
	width: 330px;
	display: inline-block;
	vertical-align: top;
}
figure img {
	max-width: 99%;
}
